<div class="social-login">
  <br>
    <div class="text-center">
      -OR-
    </div>
  <br>
  <a class="btn btn-block btn-default btn-social twitter">
    <div class="row">
      <div class="col-md-5 text-right">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="text-left">
        Sign in with Twitter
      </div>
    </div>
  </a>
  
  <a class="btn btn-block btn-default btn-social facebook">
    <div class="row">
       <div class="col-md-5 text-right">
         <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
        <div class="text-left">
          Sign in with Facebook
        </div>
    </div>
  </a>
  
  <a class="btn btn-block btn-default btn-social google">
    <div class="row">
       <div class="col-md-5 text-right">
         <i class="fa fa-google" aria-hidden="true"></i>
      </div>
        <div class="text-left">
          Sign in with Google
        </div>
    </div>
  </a>
  
</div>