<div class="jumbotron">
    <h1>Ruby Gems Tutorial for Noobs</h1> 
    <p>As most programming languages, Ruby leverages a wide set of third-party libraries.
Most of them are released in the form of a gem.</p> 
</div>


<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      Start a Tutorial
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      View Tutorials
    </div>
  </div>
</div>