<div class="jumbotron">
    <h1>Ruby Gems Tutorial for Noobs</h1> 
    <p>As most programming languages, Ruby leverages a wide set of third-party libraries.
Most of them are released in the form of a gem.</p> 
</div>


<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h3>Start a Tutorial</h3>
      <p>Help some noobs to get through a gem</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h3>View Tutorials</h3>
      <p>The path for not being one of the noobs</p>
    </div>
  </div>
</div>